.setNameBox {
  background-color: hsl(0, 0%, 10%);
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 70px;
  padding: 35px;
  border-radius: 20px;
  overflow: hidden;
  word-wrap: break-word;        
  overflow-wrap: break-word;
  transition: transform 0.2s ease;
}

.setNameBox:hover {
  transform: translateY(-2px);
}

.setNameText {
  font-weight: 900;
  font-family: sans-serif;
  margin: 0 0 15px 0;
}

.setDescriptionBox {
  margin: 0 0 10px 0;
}

.setNameBox hr {
  height: 4px;
  background-color: hsl(207, 100%, 50%);
  width: 50px;
  margin-left: 0;   
  margin-right: auto; 
  border: none;
  border-radius: 10px;
}


.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-left: 5%;
  margin-right: 5%;
}

.studyButton {
  border: solid 1px hsl(207, 100%, 50%);
  background-color: hsl(207, 100%, 50%);
  color: hsl(0, 0%, 100%);
  margin: 15px;
  font-size: 19px;
  font-weight: bold;
  padding: 20px 19%;
  border-radius: 15px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.studyButton:hover {
  transform: translateY(-3px);
  background-color: hsl(207, 100%, 40%);
}

.addEditButton {
  border: solid 1px hsl(0, 0%, 10%);
  background-color: hsl(0, 0%, 10%);
  color: hsl(0, 0%, 100%);
  margin: 15px;
  font-size: 18px;
  font-weight: bold;
  padding: 20px 19%;
  border-radius: 15px;
  white-space: nowrap;
  transition: transform 0.3s ease, border 0.3s ease;
}

.addEditButton:hover {
  transform: translateY(-3px);
  border: solid 1px hsl(207, 100%, 50%);
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  margin: 30px 100px 100px;
  gap: 30px;
}

.cardBar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 10%);
  padding: 20px;
  margin: 15px 8% 0% 8%;
  border-radius: 15px;
}

.cardStatus {
  background: transparent;
  padding: 10px 2%;
  border: 1px solid transparent;
  border-radius: 15px;
  color: hsl(0, 0%, 70%);
  transition: all 0.2s ease;
}

.cardStatus:hover {
  cursor: pointer;
  color: hsl(0, 0%, 100%);
}

.active {
  padding: 10px 2%;
  color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 30%);
  border-bottom: 1px solid hsl(210, 100%, 50%); /* blue line */
  border-radius: 15px;
  font-weight: bold;
}
