.cardBox{
    padding: 15px;
    background-color: hsl(0, 0%, 13%);
    width: 350px;
    height: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 15px;
    display: grid;
} 

.cardBox hr {
    border: none;
    height: 1px;
    background-color: hsl(0, 0%, 24%);
    width: 100%;
    margin: 5px 0;
}

.cardName {
    font-size: 22px;
}

.cardDescription {
    font-weight: lighter;
    color: hsl(0, 0%, 49%);
    font-size: 15px;
}

.deleteButtonDisplay {
    width: 20px;
    position: absolute;
    justify-self: end;
}

.footerCardContainer {
    display: flex;
    justify-content: space-between;
}

.footerCard {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 10px;
}

.cardLayerLogo {
    height: 15px;
    width: 15px;
}

.footerSubCardContainer {
    display: flex;
    align-items: center;
}