.cardBox {
  overflow: hidden;
  padding: 15px;
  background-color: hsl(0, 0%, 13%);
  width: 85%;
  height: 150px;
  margin-bottom: 20px;
  border-radius: 15px;
  display: grid;
  position: relative;
  transition: transform 0.5s ease, background-color 0.5s ease;
}

.cardBox:hover {
  transform: translateY(-5px);
  background-color: hsl(0, 0%, 5%);
  cursor: pointer;
}

.cardBox:active {
  transform: translateY(0px) scale(0.97);
}

.cardBox hr {
  border: none;
  height: 1px;
  background-color: hsl(0, 0%, 15%);
  width: 100%;
  margin: 5px 0;
}

.cardName {
  font-size: 22px;
}

.cardDescription {
  font-weight: lighter;
  color: hsl(0, 0%, 49%);
  font-size: 15px;
}

.deleteButtonDisplay {
  width: 20px;
  position: absolute;
  top: 15px;
  right: 15px;
  transition: transform 0.5s ease, filter 0.3s ease;
}

.deleteButtonDisplay:hover {
  filter: brightness(500%);
}

.footerCardContainer {
  display: flex;
  justify-content: space-between;
}

.footerCard {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 10px;
}

.cardLayerLogo {
  height: 15px;
  width: 15px;
}

.footerSubCardContainer {
  display: flex;
  align-items: center;
}


